body
{
    background-image: url("https://g.foolcdn.com/editorial/images/451536/twitter-bird-on-blue-background.png");
}

h3,h1
{
    font-family: 'Carter One', cursive;
}

::placeholder
{
    font-family: 'Carter One', cursive;
}

button{
    font-family: 'Carter One', cursive;
}

 label{
    font-family: 'Carter One', cursive;
 }